*{
    padding: 0%;
    margin: 0%;
}


/* nav bar ------------------------------------------------ */


.nav{
    background-color: grey;
    padding: 15px;
    display: flex;
    position: sticky;
    top: 0%;
    z-index: 1000;
}

h4{
    display: inline;
    padding-right: 80px;
    font-size: 20px;
    color: darkblue;
    font-family: "Lato", sans-serif;
}

.log{
    margin-left: auto;
}

/* banner image -------------------------------------------------- */

.container{
    background-color: rgb(246, 240, 240);
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.gg{
    width: 100%;
    height: 50%;
    object-fit: cover;
}


h1 {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1E90FF; 
    font-size: 3em; 
    text-align: center;
    padding: 15px 20px; 
    background-color: rgba(255, 255, 255, 0.682); 
    border-radius: 10px; 
    font-family: "Matemasie", sans-serif; 
}


.btn{
    padding: 20px 40px; 
    font-size: 24px; 
    font-family: "Matemasie", sans-serif;
    background-color: #1E90FF; 
    color: white;
    border: 2px solid #D3D3D3; 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px; 
    }

.btn:hover{
    background-color: #053d76;  
}

/* cards ------------------------------------------------ */

.parent{ 
    display: flex; 
    justify-content: center;
    max-width: 100%;  
    min-height: 100vh;  
    align-items: center;   
    flex-wrap: wrap;
    background-color:  rgb(246, 240, 240);
    }

    .parent>div{ 
    width: 300px; 
    height: 450px; 
    background-color: rgb(72, 75, 76);
    border: 1px solid ☐ black;
    margin: 20px;  
    }


.image img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    display: block; 
}


    .btn2 {
        text-align: center;
        padding: 10px;
        color: white; 
    }

    .btn2 button {
        padding: 10px 20px;
        font-size: 1em;
        background-color: #FF6347; 
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }

    .btn2 h2{
        font-family: "Lato", sans-serif;
    }

    .btn2 button:hover {
        background-color: #FF4500; 
    }

    p{
        margin-top: 10px;
    }