*{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 80%;
    margin: auto;
    align-items: center;
}

.left{
    display: flex;
}

.left img{
    height: 20px;
    margin-right: 30px;
}

.left p{
    margin-right: 20px;
    color: gray;
    font-size: 15px;
    margin-top: 3px;
}


.imga{
    display: flex;
    align-items: center;
}

.icon{
    height: 20px;
    margin-right: 30px;
}
.avatar{
    height: 60px;
}

hr{
    width: 80%;
    margin: auto;
}

.container{
    background-color: aqua;
    height: 80vh;
    width: 80vw;
    margin: auto;
    display: flex;
}

.container1{
    flex: 1;
    background-color: black;
}

.container2{
    flex: 1;
    background-color: blueviolet;
}